<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Combobox</title>
    <meta name="description" content="Combobox testing page">
    <meta name="author" content="My Name">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
    <h3>Combobox</h3>
    <div id="container-1"></div>
    <br>
    <br>
    <div id="container-2"></div>
    <br>
    <br>
    <div id="container-3"></div>
    <script src="bundle.js"></script>
</body>
</html>